html {
  box-sizing: border-box;
}

:root {
  --fs-XXL: 30px;
  --fs-XL: 20px;
  --fs-L: 18px;
  --fs-M: 15px;
  --fs-S: 12px;
  --fs-XS: 10px;
}

:before,
:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin: 0;
  flex: 1;
}

h1 {
  font-family: "Russo One", sans-serif, Verdana, Tahoma, sans-serif;
}

.spacer {
  max-height: 100px;
  width: 100%;
}

.cta-button {
  background-color: white;
  color: #000;
  display: inline;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  font-size: var(--fs-S);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 120px;
}

/*--------------------HEADER & FOOTER--------------------------*/

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100px;
  z-index: 100;
  background-color: white;
  box-shadow: 0 0 2px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 170px;
  max-height: 60px;
  margin: 30px;
}

.logo-position {
  position: relative;
  display: inline;
  padding: 5px;
}

.menu {
  margin-right: 50px;
}

.menu p {
  display: inline-block;
}

.fa-search {
  margin-right: 20px;
}

.fa-bars {
  margin-left: 10px;
}

nav {
  display: none;
}

#sub-menu {
  display: none;
}

#sub-menu:checked ~ nav {
  display: block;
}

nav {
  position: absolute;
  margin-top: 20px;
  width: 150px;
  flex-wrap: wrap;
}

ul li {
  border: black solid 0.1px;
}

li {
  list-style: none;
  margin-left: -100px;
  line-height: 3;
  text-align: center;
  background: #fff;
  text-transform: uppercase;
}

li a {
  text-decoration: none;
  color: black;
}

.fa-bars,
.menu p {
  font-size: var(--fs-L);
}

.fa-search {
  font-size: var(--fs-M);
}

.search {
  position: absolute;
  right: 130px;
  transform: translate(0);
}

.search:hover > .search-text {
  box-shadow: 0 0 0.3em rgb(22, 22, 22);
  padding: 8px;
  width: 200px;
}

.search-text {
  border: none;
  transition: 0.3s;
  width: 0;
}

.search-button {
  border: none;
  background: none;
  cursor: pointer;
}

.dropdown ul li:hover {
  background: #e57e20;
  border: none;
}

li a:hover {
  color: #fff;
}

/*FOOTER*/

footer {
  background-color: #06455b;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #fff;
  padding: 30px 0;
  margin: 0 50px;
}

.contact h2,
.opening-hours h2 {
  font-size: var(--fs-M);
  text-decoration: underline;
  margin-top: 0;
}

.contact,
.opening-hours,
.social-media {
  font-size: var(--fs-S);
}

.contact {
  line-height: 15px;
}

.opening-hours li {
  list-style: none;
  margin-left: 0;
  line-height: 20px;
  text-align: left;
  background: transparent;
  text-transform: none;
}

.social-media {
  display: flex;
  justify-content: flex-end;
}

.social-media i {
  font-size: 3em;
  padding: 0 10px;
  color: #fff;
}

.copyright-txt {
  color: #fff;
  font-size: var(--fs-M);
  text-align: center;
}

.footer-list {
  display: none;
}

/*--------------------HOMEPAGE--------------------------*/
.spacer {
  height: 10vh;
  width: 100%;
}

.section-one {
  position: relative;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.image1,
.image2,
.image3,
.image4 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: bottom;
}

.image1 {
  animation: image1 20s linear infinite;
}

.image2 {
  animation: image2 20s linear infinite;
}

.image3 {
  animation: image3 20s linear infinite;
}

.image4 {
  animation: image4 20s linear infinite;
}

@keyframes image1 {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes image2 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes image3 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

@keyframes image4 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.box {
  background: rgb(0, 0, 0);
  background: rgb(0, 0, 0, 0.5);
  display: inline-block;
  position: absolute;
  left: 10%;
  bottom: 10%;
}

.box p {
  padding: 10px 40px;
  color: #fff;
  font-weight: bold;
  font-size: var(--fs-L);
}

.about-section {
  width: 100%;
}

.about-section h1,
.event-section h1,
.explore-section h1,
.newsletter-section h1 {
  min-height: 5vh;
  text-align: center;
  display: block;
  background-color: #fff;
  margin: 30px 0;
}

.about-background {
  background-color: #1ba1e8;
  padding: 0;
}

.about-wrapper {
  margin: 0 auto;
  display: flex;
  height: 70vh;
}

.about-img {
  background-image: url(../images/samuel-zeller-158996.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex: 1;
}

.about-text {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 1em rgb(22, 22, 22);
  flex: 1;
  height: fit-content;
  padding: 40px;
  margin: auto 50px;
  justify-content: center;
}

.about-text p {
  font-size: var(--fs-M);
}

.event-section {
  width: 100%;
}

.event-container {
  background-color: #e57e20;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.event {
  margin: 10px;
  box-shadow: 0 0 1em rgb(22, 22, 22);
  background-color: #fff;
}

.event-img {
  display: flex;
  position: relative;
}

.event-img img {
  height: fit-content;
}

.event-img p {
  text-align: center;
  position: absolute;
  padding: 10px;
  margin: 10px;
  color: #000;
  background-color: #fff;
  font-size: var(--fs-XS);
  font-weight: bolder;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.event-txt {
  padding: 0 10px;
  background-color: #fff;
}

.event-txt h2 {
  font-size: var(--fs-M);
  margin: 5px;
  text-align: center;
}

.event-txt p {
  font-size: var(--fs-S);
}

.blue-background {
  background-color: #1ba1e8;
  padding: 50px 0;
}

.explore-section {
  margin: 0 auto;
}

.explore-container {
  width: 70%;
  display: flex;
  margin: 0 auto;
  padding: 30px 0;
}

.explore-text h2 {
  text-align: center;
}

.explore-text {
  background-color: #fff;
}

.explore-text,
.explore-image {
  flex: 1;
  box-shadow: 0 0 1em rgb(22, 22, 22);
}

.explore-text p {
  font-size: var(--fs-L);
  padding: 0 20px;
}

.explore-image img {
  height: 100%;
}

.explore-image h2 {
  text-align: center;
  display: inline-block;
  position: absolute;
  color: #000;
  background-color: #fff;
  padding: 10px 50px;
  font-size: var(--fs-XL);
  font-weight: bolder;
  box-shadow: 0 0 1em rgb(22, 22, 22);
}

.newsletter-section {
  margin: 0 auto;
  height: max-content;
}

.form-wrapper {
  background-color: #e57e20;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.form-wrapper > * {
  padding: 10px;
  margin-bottom: 40px;
  width: 300px;
  box-shadow: 0 0 2px rgb(22, 22, 22);
}

.signin-button {
  align-content: center;
  text-align: center;
  box-shadow: none;
  margin: 0;
}

/*-------------------------EXHIBITIONS----------------------------*/
.exhibitions {
  position: relative;
  background-image: url(../images/exhibition-1863344_1920.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  position: relative;
}

.exhibitions h1 {
  position: absolute;
  display: inline-block;
  background-color: #fff;
  text-align: center;
  padding: 30px;
  width: 200px;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.exhibitions-background {
  background-color: #1ba1e8;
  padding: 50px 0;
}

.exhibitions-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 3vw;
  column-gap: 3rem;
}

.exhibition-type {
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 0 1em rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
}

.exhibition-type:hover {
  cursor: pointer;
  background: rgb(0, 0, 0);
  background: rgb(0, 0, 0, 0.4);
  transition: 0.3s;
  color: #fff;
}

.exhibition-type p {
  padding: 15px;
}

.exhibition-type img {
  height: 30vh;
}

.exhibition-type h2 {
  text-align: center;
  display: block;
}

.explore {
  display: block;
  text-align: end;
  text-decoration: underline;
  font-weight: bold;
  margin: 10px;
}

/*------------------------VISIT US---------------------------*/
.museum img {
  height: 100%;
}

.museum {
  position: relative;
  max-height: 60vh;
}

.museum h1 {
  position: absolute;
  display: inline-block;
  background-color: #fff;
  text-align: center;
  padding: 30px;
  width: 200px;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.background-visit {
  background-color: #1ba1e8;
}

.visit-section {
  position: relative;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
}

.opening-admission {
  display: flex;
}

.opening-hrs {
  background-color: #fff;
  font-size: var(--fs-M);
  margin: 20px 0;
}

.opening-hrs,
.admission {
  flex: 1;
  padding-bottom: 20px;
}

.admission h2 {
  text-align: center;
}

.map-address-wrapper,
.admission {
  background-color: #fff;
  font-size: var(--fs-M);
  margin: 20px 0;
}

.admission {
  margin-left: 50px;
}

.admission p {
  padding: 0 40px;
}

.map-section h2,
.opening-hrs h2 {
  font-size: var(--fs-XL);
  text-decoration: none;
  text-align: center;
}

.opening-hrs h2,
.admission h2 {
  padding-top: 10px;
}

.map-address-wrapper {
  display: flex;
}

.visit-address {
  flex: 40%;
  margin-top: 5%;
}

.visit-map {
  flex: 60%;
  max-height: 60vh;
}

.visit-address h2 {
  text-align: left;
}

.visit-address p,
.map-section h2 {
  margin-top: auto;
  margin-left: 30%;
}

.opening-hrs li,
.opening-hrs h2 {
  text-align: center;
  margin-left: 0;
  text-transform: none;
  line-height: 2;
}

.cafe-and-shop-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cafe,
.shop,
.accessibility {
  position: relative;
  margin: 20px 0 50px;
}

.cafe,
.shop {
  margin-right: 20px;
}

.cafe img,
.shop img,
.accessibility img {
  max-height: 80vh;
}

.accessibility img {
  background-position: top;
}

.cafe-txt,
.shop-txt,
.accessibility-txt {
  position: absolute;
  background-color: #fff;
  padding: 0 20px 0;
  bottom: 0;
  flex-wrap: wrap;
  min-height: 200px;
}

/*-----------------------GET INVOLVED-------------------------------*/
.getinvolved {
  background-image: url(../images/william-bout-264826.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  position: relative;
}

.getinvolved h1 {
  position: absolute;
  display: inline-block;
  background-color: #fff;
  text-align: center;
  padding: 30px;
  width: 300px;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.background-getinvolved {
  background-color: #e57e20;
}

.getinvolved-section h2 {
  text-align: center;
  font-size: var(--fs-XXL);
}

.getinvolved-section {
  margin: 0 auto;
  width: 800px;
}

.volunteer,
.internships {
  height: 80vh;
  margin: 40px 0;
  box-shadow: 0 0 1em rgb(22, 22, 22);
  position: relative;
}

.volunteer-img {
  background-image: url(../images/roberto-nickson-396152.jpg);
}

.internships-img {
  background-image: url(../images/people-219985_1280.jpg);
}

.volunteer-img,
.internships-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.volunteer-txt,
.internships-txt {
  padding: 20px 40px;
  font-size: var(--fs-M);
  position: absolute;
  justify-content: center;
  margin: 50px;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255, 0.8);
}

/*--------------------------SUPPORT US-----------------------------*/
.support-us {
  background-image: url(../images/william-bout-264826.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
}

.support-us h1 {
  position: absolute;
  display: inline-block;
  background-color: #fff;
  text-align: center;
  padding: 30px;
  width: 300px;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.support-background {
  background-color: #1ba1e8;
  display: flex;
  flex-direction: column;
}

.support-section {
  display: flex;
  margin: 50px auto;
  width: 80%;
  height: 80vh;
}

.support-img {
  background-image: url(../images/roberto-nickson-396152.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 60%;
  margin-right: 20px;
  box-shadow: 0 0 1em rgb(22, 22, 22);
}

.support-txt {
  background-color: #fff;
  font-size: var(--fs-L);
  flex: 40%;
  padding: 30px;
  box-shadow: 0 0 1em rgb(22, 22, 22);
  flex-wrap: wrap;
}

/*------------------HEADER & FOOTER (mobile/ipad)------------------*/
@media screen and (max-width: 810px) {
  header {
    height: 100px;
  }

  .header-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-content: center;
  }

  .fa-bars {
    position: absolute;
    font-size: var(--fs-M);
    right: 30px;
  }

  .logo-position {
    left: 30px;
  }

  .search2,
  .logo-position {
    padding: 10px;
  }

  .logo {
    width: 100px;
    height: fit-content;
    margin: 0;
    display: block;
  }

  nav {
    position: absolute;
    margin-top: 6vh;
    width: 70px;
    right: 0;
  }

  li {
    line-height: 2;
    text-transform: uppercase;
    font-size: var(--fs-S);
    padding: 7px;
  }

  li a {
    text-decoration: none;
    color: black;
  }

  .menu p {
    display: none;
  }

  .search {
    display: none;
  }

  .search2 {
    left: 0;
    position: relative;
  }

  .search2:hover .search-text {
    display: inline-block;
    transform: (0);
    width: 100%;
    box-shadow: none;
  }

  .search2:hover .fa-search {
    display: none;
  }

  .search2 {
    margin-left: 10px;
  }

  /*FOOTER*/

  footer {
    background-color: #06455b;
  }

  .footer-wrapper {
    display: block;
    padding: 10px 0;
  }

  .contact h2,
  .opening-hours h2 {
    font-size: var(--fs-S);
    text-decoration: underline;
    margin-top: 0;
  }

  .footer-list {
    display: inline;
    font-size: var(--fs-M);
    text-align: center;
  }

  .footer-list a {
    text-decoration: none;
    color: #fff;
  }

  .social-media {
    font-size: var(--fs-S);
    padding-top: 20px;
  }

  .contact,
  .opening-hours {
    display: none;
  }

  .social-media {
    justify-content: space-around;
  }

  .social-media i {
    font-size: 2em;
  }

  .copyright-txt {
    font-size: var(--fs-S);
  }
}

/*----------------HOMEPAGE (mobile/ipad)-----------------*/
@media screen and (max-width: 810px) {
  .spacer {
    height: 100px;
    width: 100%;
  }

  .slider-container {
    height: 30vh;
    background-position: bottom;
  }

  .slider-container img {
    height: 30vh;
    object-fit: cover;
  }

  .box p {
    padding: 5px 10px;
    font-size: var(--fs-XS);
  }

  .about-section h1,
  .event-section h1,
  .explore-section h1,
  .newsletter-section h1 {
    font-size: var(--fs-M);
    padding: 20px 0 0;
    background-color: transparent;
    margin: 0;
  }

  .about-wrapper {
    box-shadow: none;
    width: 80%;
    margin: 0 auto;
    height: 50vh;
    bottom: 0;
  }

  .about-img {
    display: none;
  }

  .about-background {
    background-image: url(../images/roberto-nickson-396152.jpg);
    background-repeat: no-repeat;
    padding: 30px 0;
    background-size: cover;
    background-position: center;
    height: 60vh;
  }

  .about-section {
    background-color: #1ba1e8;
    padding: 0 0 30px;
  }

  .about-text {
    box-shadow: none;
    padding: 10px;
    margin: auto 0;
    background: rgb(255, 255, 255);
    background: rgb(255, 255, 255, 0.8);
  }

  .about-text p {
    font-size: var(--fs-S);
    padding: 0 15px;
  }

  .event-section {
    background-color: #e57e20;
  }

  .event-container {
    background-color: #06455b;
    padding: 0;
    display: block;
  }

  .event {
    display: flex;
    margin: 0;
    box-shadow: none;
    background-color: transparent;
  }

  .event-img {
    flex: 1;
  }

  .event-img img {
    height: auto;
  }

  .event-img p {
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: #000;
    background-color: #fff;
    font-size: var(--fs-XS);
    font-weight: bolder;
  }

  .event-txt {
    padding: 0 10px;
    border: none;
    background-color: transparent;
    flex: 1;
    box-shadow: none;
  }

  .event-txt h2 {
    font-size: var(--fs-S);
    text-align: left;
    margin: 5px;
    color: #fff;
    padding-top: 10px;
  }

  .event-txt p {
    font-size: var(--fs-XS);
    background-color: transparent;
    color: #fff;
    padding: 0px 10px 10px;
  }

  .explore-section {
    background-color: #1ba1e8;
    padding-bottom: 30px;
  }

  .blue-background {
    padding: 10px 0;
  }

  .explore-container {
    height: 100%;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
  }

  .explore-text {
    padding: 10px;
    box-shadow: none;
    background-color: #fff;
  }

  .explore-text p {
    font-size: var(--fs-XS);
    padding: 0;
  }

  .explore-image {
    padding: 0;
    box-shadow: none;
  }

  .explore-image h2 {
    color: #000;
    padding: 10px 20px;
    font-size: var(--fs-S);
  }

  .newsletter-section {
    background-color: #e57e20;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  .form-wrapper {
    padding: 30px 0;
  }

  .form-wrapper > * {
    margin-bottom: 40px;
    width: 180px;
  }

  /*------------------EXHIBITIONS------------------------*/
  .exhibitions {
    max-height: 20vh;
  }

  .exhibitions h1 {
    padding: 15px;
    width: 150px;
    font-size: var(--fs-L);
    top: 50%;
  }

  .exhibitions-container {
    display: block;
    margin: 0 4vw;
  }

  .exhibition-type {
    margin-bottom: 20px;
    box-shadow: 0 0 0.5em rgb(22, 22, 22);
  }

  .exhibition-type p {
    margin-bottom: 0;
    font-size: var(--fs-S);
  }

  .exhibition-type img {
    max-height: 40vh;
  }

  .exhibition-type h2 {
    padding: 10px 20px;
    font-size: var(--fs-M);
  }

  .explore {
    display: block;
    text-align: end;
    text-decoration: underline;
    font-weight: bold;
    margin: 0 10px;
  }

  /*------------------------VISIT US---------------------------*/
  .visit-section {
    margin: 0 20px;
  }

  .museum {
    max-height: 20vh;
  }

  .museum h1 {
    padding: 15px;
    width: 100px;
    font-size: var(--fs-L);
    top: 50%;
  }

  .opening-admission {
    display: block;
  }

  .opening-hrs {
    font-size: var(--fs-M);
    margin: 20px 0;
  }

  .opening-hrs li {
    line-height: 1;
  }

  .opening-hrs,
  .admission {
    padding-bottom: 10px;
  }

  .map-address-wrapper,
  .admission {
    font-size: var(--fs-M);
    margin: 0;
  }

  .admission p {
    padding: 0 30px;
  }

  .map-section h2,
  .opening-hrs h2,
  .admission h2 {
    font-size: var(--fs-L);
  }

  .map-address-wrapper {
    display: block;
    margin-top: 20px;
  }

  .visit-address {
    padding: 10px;
  }

  .visit-map {
    max-height: 40vh;
    width: 100%;
  }

  .visit-address h2 {
    font-size: var(--fs-L);
  }

  .visit-address p,
  .map-section h2 {
    line-height: 1;
  }

  .cafe-and-shop-wrapper {
    display: block;
    margin-top: 20px;
  }

  .cafe,
  .shop,
  .accessibility {
    margin: 0 0 20px;
    font-size: var(--fs-M);
  }

  .cafe h2,
  .shop h2,
  .accessibility h2 {
    font-size: var(--fs-L);
  }

  .cafe img,
  .shop img,
  .accessibility img {
    max-height: 60vh;
  }

  .cafe-txt,
  .shop-txt,
  .accessibility-txt {
    padding: 0 20px 0;
    min-height: 150px;
  }

  /*-----------------------GET INVOLVED-------------------------------*/
  .getinvolved {
    height: 20vh;
  }

  .getinvolved h1 {
    padding: 15px;
    width: 150px;
    font-size: var(--fs-L);
    top: 50%;
  }

  .getinvolved-section h2 {
    text-align: center;
    font-size: var(--fs-XL);
  }

  .getinvolved-section {
    margin: 0;
    width: 100%;
  }

  .volunteer,
  .internships {
    height: 60vh;
    margin: 20px 0;
    box-shadow: 0 0 1em rgb(22, 22, 22);
    position: relative;
  }

  .internships-img {
    background-position: 30%;
  }

  .volunteer-txt,
  .internships-txt {
    padding: 10px 20px;
    font-size: var(--fs-S);
    position: absolute;
    justify-content: center;
    margin: 20px;
    background: rgb(255, 255, 255);
    background: rgb(255, 255, 255, 0.8);
  }

  /*--------------------------SUPPORT US-----------------------------*/
  .support-us {
    height: 20vh;
  }

  .support-us h1 {
    padding: 15px;
    width: 150px;
    font-size: var(--fs-L);
    top: 50%;
  }

  .support-section {
    display: block;
    height: fit-content;
  }

  .support-img {
    display: none;
  }

  .support-txt {
    padding: 30px;
    font-size: var(--fs-M);
  }
}
